In [489]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [490]:
stu_math = pd.read_csv("student-mat.csv", sep=";")
stu_math

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [491]:
stu_math.drop(columns=["school", "famsize", "Pstatus", "Medu", "Fedu", "Mjob", "Fjob", "reason", "traveltime","higher"], axis=1, inplace=True)\

stu_math.to_csv("train.csv")

#  to convert string values to int
stu_math["sex"] = stu_math["sex"].map({"F":0, "M":1})
stu_math["address"] = stu_math["address"].map({"U":0, "R":1})
stu_math["guardian"] = stu_math["guardian"].map({"mother":0, "father":1, "other":2})
for i in stu_math[["schoolsup", "famsup", "paid", "activities", "nursery", "internet", "romantic"]].columns:
    stu_math[i] = stu_math[i].map({"no":0, "yes":1})

In [492]:
# Function to get min/max values of columns
def area(df):
   # define the output dataframe
   df_out= pd.DataFrame(columns=['col_name','max','min','balance'])
   for i, col in enumerate(df.columns):
       report=[]
       max_col= df[col].max()
       min_col= df[col].min()
       balance= max_col + min_col
       report.append(col) # column name
       report.append(max_col)
       report.append(min_col)
       report.append(balance)  
       df_out.loc[i] = report
   return df_out

area(stu_math)

      col_name  max  min  balance
0          sex    1    0        1
1          age   22   15       37
2      address    1    0        1
3     guardian    2    0        2
4    studytime    4    1        5
5     failures    3    0        3
6    schoolsup    1    0        1
7       famsup    1    0        1
8         paid    1    0        1
9   activities    1    0        1
10     nursery    1    0        1
11    internet    1    0        1
12    romantic    1    0        1
13      famrel    5    1        6
14    freetime    5    1        6
15       goout    5    1        6
16        Dalc    5    1        6
17        Walc    5    1        6
18      health    5    1        6
19    absences   75    0       75
20          G1   19    3       22
21          G2   19    0       19
22          G3   20    0       20

In [505]:
dummy = pd.DataFrame({}, columns=stu_math.columns.drop(["G3"]))
for i in range(75):
    dummy.loc[len(dummy)] = pd.Series(np.random.randint([0, 15, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 3, 0], 
    [2, 23, 2, 3, 5, 4, 2, 2, 2, 2, 2, 2, 2, 6, 6, 6, 6, 6, 6, 76, 20, 20]), index=dummy.columns)

In [502]:
# Sample Submission csv code
sample = pd.Series(np.random.randint(21, size=75), name="G3")
sample.index.rename("Id", inplace=True)

sample.to_csv("sample_submission.csv")

In [506]:
X_train, X_test, y_train, y_test = train_test_split(stu_math.drop(["G3"], axis=1), stu_math["G3"], test_size=0.2, random_state=42)

lin_model = LinearRegression()
lin_model.fit(X=X_train, y=y_train)
lin_pred = lin_model.predict(X_test)

print(mean_squared_error(y_test, lin_pred));
print(mean_absolute_error(y_test, lin_pred))

lin_dummy_pred = lin_model.predict(dummy)
lin_dummy_series = pd.Series(lin_dummy_pred, name="G3")
lin_dummy_series.index.rename("Id")
lin_dummy_series.to_csv("lin_submission.csv")
# plt.scatter(y_test, lin_pred)

5.036696163748326
1.4987429029807111

In [496]:
# poly_model = make_pipeline(PolynomialFeatures(degree=6), LinearRegression())
# poly_model.fit(X_train, y_train)

# poly_pred = poly_model.predict(X_test)
# print(mean_squared_error(y_test, poly_pred))
# plt.scatter(y_test, poly_pred)

In [497]:
# for i in stu_math.columns:
#     plt.figure()
#     plt.scatter(stu_math["G3"], stu_math[i])

# plt.show()

In [507]:
from sklearn import svm
svr_model = svm.SVR()
svr_model.fit(X_train, y_train)
svr_pred = svr_model.predict(X_test)

svr_dummy_pred = svr_model.predict(dummy)
svr_dummy_series = pd.Series(svr_dummy_pred, name="G3")
svr_dummy_series.index.rename("Id")
svr_dummy_series.to_csv("svr_submission.csv")
# print(mean_squared_error(y_test, svr_pred))
# plt.scatter(y_test, svr_pred)

In [508]:
from sklearn.ensemble import RandomForestClassifier
forest_model = RandomForestClassifier(max_depth=None, min_samples_split=5, n_estimators=100)
forest_model.fit(X_train, y_train)
forest_pred = forest_model.predict(X_test)
# plt.scatter(y_test, forest_pred)

print(mean_squared_error(y_test, forest_pred))
print(mean_absolute_error(y_test, forest_pred))

dummy_pred = forest_model.predict(dummy)
dummy_series = pd.Series(dummy_pred, name="G3")
dummy_series.index.rename("Id")
dummy_series.to_csv("forest_solution.csv")

6.405063291139241
1.4430379746835442

In [500]:
#  to convert int values to string
dummy["sex"] = dummy["sex"].map({0:"F", 1:"M"})
dummy["address"] = dummy["address"].map({0:"U", 1:"R"})
dummy["guardian"] = dummy["guardian"].map({0:"mother", 1:"father", 2:"other"})
for i in dummy[["schoolsup", "famsup", "paid", "activities", "nursery", "internet", "romantic"]].columns:
    dummy[i] = dummy[i].map({0:"no", 1:"yes"})

dummy.to_csv("test.csv")

In [501]:
# from sklearn.linear_model import Ridge
# ridge_model = Ridge()
# ridge_model.fit(X_train, y_train)
# ridge_pred = ridge_model.predict(X_test)

# print(mean_squared_error(y_test, ridge_pred))
# print(mean_absolute_error(y_test, ridge_pred))